.header {
    position: absolute;
    width: 100%;
    top: 47px;
    z-index: 1;

    &-wrap {
        display: flex;
        justify-content: space-between;

        @include a (mobile) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    &__phone-link {
        font-size: toRem(36);
        color: $light-color;
    }
}