.hero {
    padding: 205px 0 118px;
    background: url(./../img/hero-bg.jpg) center/cover;
    &__wrap {
        position: relative;

        @include a (tablet-xl) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-size: toRem(72);
        line-height: 107px;
        color: $light-color;
        text-transform: uppercase;

        @include a (tablet) {
            font-size: toRem(50);
        }

    }

    &__subtitle {
        font-size: toRem(36);
        color: $light-color;
        margin-bottom: 30px;

        @include a (tablet) {
            font-size: toRem(24);
        }
    }

    &__descr {
        display: block;
        font-weight: 300;
        color: $light-color;
        margin-bottom: 30px;

        @include a (tablet) {
            font-size: toRem(14);
        }
    }

    &__btn {
        margin-bottom: 70px;
    }

    &__social {
        display: flex;
        column-gap: 50px;
    }

    &__image {
        position: absolute;
        right: 0;
        top: 220px;

        @include a (tablet-xl) {
            display: none;
        }
    }
}