.services {
    padding-top: 300px;

    &__wrap {
        display: flex;
        justify-content: space-between;

        @include a (laptop) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__content {
        max-width: 520px;
        width: 100%;

        @include a (laptop) {
            margin-bottom: 40px;
        }
    }

    &__title {
        font-weight: 300;
        color: $accent-color;
        margin-bottom: 12px;
    }

    &__descr {
        font-weight: 300;
        color: $main-color;
        margin-bottom: 12px;

        &:nth-child(3) {
            margin-bottom: 69px;
        }

        &:last-of-type {
            margin-bottom: 50px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        max-width: 450px;
        width: 100%;
        border: 1px solid #C4C4C4;
        padding: 10px 47px 10px 113px;
        max-width: 450px;
        margin-right: 50px;
        position: relative;

        &:hover {
            max-width: 500px;
            margin-right: 0;
            padding-right: 97px;
        }

        &:hover:before {
            color: $accent-color;
        }

        &::before {
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            font-size: toRem(36);
            color: #C4C4C4;
        }

        &-1::before {
            content: "01";
        }

        &-2::before {
            content: "02";
        }

        &-3::before {
            content: "03";
        }

        &-4::before {
            content: "04";
        }

        &-5::before {
            content: "05";
        }

        &-6::before {
            content: "06";
        }
    }
}